<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chọn môn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
<div class="card">

    <h2 class="title">Chọn môn học</h2>

    <!-- CHỈ SỬA LINK -->
    <a class="subject-btn" href="/list-quiz/toan">Toán</a>
    <a class="subject-btn" href="/list-quiz/ly">Lý</a>
    <a class="subject-btn" href="/list-quiz/hoa">Hóa</a>
    <a class="subject-btn" href="/list-quiz/trung">Tiếng Trung</a>

    <a class="link" href="/result">Xem kết quả</a>
    <a class="link" href="/logout">Đăng xuất</a>

</div>
</div>

</body>
</html>
