<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="page">

    <div class="header">
        <h1>Quiz App</h1>
        <p>Học nhanh – Làm chắc – Nhớ lâu</p>
    </div>

    <div class="content">
        <a href="/choose" class="btn primary">Chọn đề</a>
        <a href="#" class="btn secondary">Xem kết quả</a>
    </div>

</div>

</body>
</html>
