<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danh sách đề - {{ subject|upper }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h2>Môn {{ subject|upper }}</h2>

        {% for q in quizzes %}
            <a href="#">
                <button class="quiz-btn">{{ q.quiz_name }}</button>
            </a>
        {% endfor %}

        <a class="link" href="/choose">← Quay lại</a>
    </div>
</body>
</html>
