<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Chọn đề</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
<div class="card">

    <h2 class="title">Chọn đề – {{ subject|upper }}</h2>

    {% if quiz_list %}
        {% for q in quiz_list %}
            <a class="subject-btn"
   href="/quiz/{{ subject }}/{{ q.quiz_id }}">
    {{ q.quiz_name }}
</a>
        {% endfor %}
    {% else %}
        <p>Chưa có đề cho môn này</p>
    {% endif %}

    <a class="link" href="/choose-subject">⬅ Quay lại chọn môn</a>
    <a class="link" href="/logout">Đăng xuất</a>

</div>
</div>

</body>
</html>
